/*
amarelo 
verde  
rosa #E3115D
roxo 
*/
html{
  background-color: #1F1A2C;
  overflow: hidden;
  color: white;
}
input{
  background-color: transparent;
  width: 300px;
  outline: 0;
  border-width: 0 0 1px;
  border-color: #3B3450;
  font-size: 20px;
  font-weight: 10;
  margin-top: 20px;
  color: white;
}
input:focus::placeholder {
  color: transparent;
}
h3{
  font-size: 35px;
}
button{
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: lighter;
  margin: 5px;
  letter-spacing: 1px;
  padding: 0px 15px 0px;
}

button:hover{
  cursor: pointer;
}

.header{
  background-color: black;
  height: 60px;
  display: block;
}

.logo-dio{
  position: relative;
  top: 30%;
  left: 20px;
}
.logo-dio:hover{
  cursor: pointer;
}

.header-btns{
  position: relative;
  left: 75%;
  top: -15px;
}

.transparent-btn{
  background-color: transparent;
  border: none;
}

.grey-btn{
  background-color: gray;
  border: none;
}

.text{
  font-size: 30px;
  width: 580px;
  margin-left: 80px;
  margin-top: 150px;
}

.login-box{
  position: absolute;
  top: 140px;
  right: 200px;
}

.text-regular{
  font-size: 20px;
  font-weight: 350;
}
.sub-text{
  margin-top: -30px;
}
::placeholder{
  color: white;
}

.primary-button-container {
  position: relative;
  display: block;
  border-radius: 30px;
  left: 5px;
  width: 300px;
  margin-top: 20px;
  padding: 3px;
  border: 1px solid #E3115D;
  
}
.pink-btn{
  background-color: #E3115D;
  border: none;
  width: 290px;
  height: 30px;
  border-radius: 30px;
}

.mini-btn{
  margin-top: 50px;


}

.esqueci-btn{
  font-size: 15px;
  font-weight: bold;
  color: #DDD843 ;
  margin-left: -5px;
}

.criar-btn{
  font-size: 15px;
  font-weight: bold;
  color: #21AF67;
}
.icon{
  color:#592496;
  font-size: 20px;
}